http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html
    
    
    
iloc is integer index based, so you have to specify rows and columns by their integer index

In [3]:
# Import cars data
import pandas as pd
cars = pd.read_csv('data/cars.csv', index_col = 0)

cars.loc['RU']
cars.iloc[4]

cars.loc[['RU']]
cars.iloc[[4]]

cars.loc[['RU', 'AUS']]
cars.iloc[[4, 1]]

     cars_per_cap    country drives_right
﻿
RU            230     Russia         True
AUS           730  Australia        False

In [4]:
print(cars)

     cars_per_cap        country drives_right
﻿
US            809  United States         True
AUS           730      Australia        False
JAP           599          Japan        False
IN             18          India        False
RU            230         Russia         True
MOR            70        Morroco         True
EG             43          Egypt         True

In [5]:
print(cars.loc[['AUS', 'EG']])

     cars_per_cap    country drives_right
﻿
AUS           730  Australia        False
EG             43      Egypt         True

In [6]:
cars.loc['RU']
cars.iloc[4]

cars_per_cap       230
country         Russia
drives_right      True
Name: RU, dtype: object

In [7]:
cars.loc['IN', 'cars_per_cap']

18

In [8]:
cars.iloc[3, 0]

18

In [12]:
cars.loc[['IN', 'RU'], 'cars_per_cap']

﻿
IN     18
RU    230
Name: cars_per_cap, dtype: int64

In [13]:
cars.iloc[[3, 4], 0]

﻿
IN     18
RU    230
Name: cars_per_cap, dtype: int64

In [14]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]

    cars_per_cap country
﻿
IN            18   India
RU           230  Russia

In [16]:
print(cars.loc['MOR'], ['drivers_right'])

(cars_per_cap         70
country         Morroco
drives_right       True
Name: MOR, dtype: object, ['drivers_right'])

In [17]:
#slicing examples
cars.loc[:, 'country']
cars.iloc[:, 1]

﻿
US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morroco
EG             Egypt
Name: country, dtype: object

In [18]:
cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

           country drives_right
﻿
US   United States         True
AUS      Australia        False
JAP          Japan        False
IN           India        False
RU          Russia         True
MOR        Morroco         True
EG           Egypt         True

In [20]:
# Print out drives_right column as Series
print(cars.loc[:, 'drives_right'])
print("*** BREAK ***")
# Print out drives_right column as DataFrame
print(cars.loc[:, ['drives_right']])
print("*** BREAK ***")
# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:, ['cars_per_cap', 'drives_right']])

﻿
US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
*** BREAK ***
    drives_right
﻿
US          True
AUS        False
JAP        False
IN         False
RU          True
MOR         True
EG          True
*** BREAK ***
     cars_per_cap drives_right
﻿
US            809         True
AUS           730        False
JAP           599        False
IN             18        False
RU            230         True
MOR            70         True
EG             43         True